
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.contenedorCard {
  display: flex;
  margin: 2.0rem 3rem;
  /* text-align: center; */
}
.icons ul {
  padding-right: 0.1rem;
  padding-left: 0.1rem;
}
.phoneNumber {
  padding-top: 2rem;
}